@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Index Category</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Category list</h1>
        </div>
        <div class="col">   </div><!-- empty colum -->
        <div class="col">   </div>
        <div class="col">   </div>
        <div class="col">
            <a asp-action="Create" asp-controller="Category" class="btn btn-primary "> <i class="bi bi-plus-circle">Create Category</i> </a>
        </div>
    </div>
</div>



<table class="table table-hover table-striped  ">
    <thead>
        <tr>
            <th scope="col">Category Name</th>
            <th scope="col">Display Order</th>
            <th scope="col"></th>
           
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr class="table-secondary">
               
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
                <td width="30%">
                    <a class="btn btn-success" asp-action="Edit" asp-controller="Category" asp-route-id="@obj.Id"><i class="bi bi-pencil-square"> Edit</i></a>
                    <a class="btn btn-danger" asp-controller="Category" asp-route-id="@obj.Id"><i class="bi bi-trash">Delete</i></a>
                </td>
                
            </tr>
        }
       
       
        
    </tbody>
</table>